<%= form_with(model: university_module, local: true) do |form| %>
  <% if university_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(university_module.errors.count, "error") %> prohibited this university_module from being saved:</h2>

      <ul>
      <% university_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :module_leader %>
    <%= form.text_field :module_leader %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
