<h1 class="title" style="padding-bottom: 20px; font-size: 34px"><%=t :contact_title %></h1>
<div class="dropdown-divider"></div>

<div style="padding:50px; font-size: 18px">

  <br>
  <h2>Get in touch</h2>

  <form id="contact_form" method="post" action="contact/create" style="max-width: 400px">

    <h5><%= t :contact_form_label_name %></h5>
    <input class="contactFormInput" type="text" id="name" name="name" placeholder="Enter your name...">
    <h5><%= t :contact_form_label_email %></h5>
    <input class="contactFormInput" value="<%= @email %>" type="text" id="email" name="email" placeholder="Enter your email address...">
    <h5><%= t :contact_form_label_message %></h5>
    <textarea class="contactFormInput" id="message" name="message" placeholder="Write your message for us here..." style="width:200px;height: 200px"></textarea>
    <br>
    <input id="contact_button" class="btn-primary" style="padding: 5px 20px 5px 20px" type="submit" value="Send message">
  </form>


  <br>
  <h2 class="">Product Support</h2>

  <br>
  <h5>How to use the dashboard (when unauthenticated)</h5>
  <ul>
    <li>Firstly to use the Enet platform you will need to be logged in. You can register an account <a href="/registrations"> here</a> </li>

    <li>Once you have created an account you will be automatically logged into the dashboard. If this does not happen then you can <a href="/app/assets/config">click here</a> to go to the login page.</li>
    <li>Now you are logged in you can choose what you want to do on the dashboard.</li>
    <li>The dashboard will allow you to view the details of all of the modules that you selected during registration.</li>
  </ul>
  <br>
  <h5>Have problems registering?</h5>
  <p>When registering an account you must make sure that:</p>
  <ul>
    <li>Your email address must be unique to your account (cannot be used for more than 1 account).</li>
  </ul>

  <br>
  <h5>Technology Stack</h5>
  <ul>
    <li>Front end - HTML, CSS, Javascript using JQuery, and Bootstrap.</li>
    <li>Back end - Ruby on Rails</li>
    <li>Database - PostgreSQL</li>
  </ul>

  <input type="button" class="btn-danger" style="padding: 10px 20px 10px 20px;margin-top: 25px" value="Home" onclick="window.location.href='/'">
</div>

